#nes h1,h2,h3,h4,h5,h6,html, body, pre, kbd, samp {
  font-family: "Press Start 2P";
  color: black;
}

.normal-text p {
  font-family: Google Sans,arial,sans-serif;
}

#nes h1,h2,h3,h4,h5,h6 {
  padding-top: 1em;
}

html {
  min-height: 100%;
  background-color: deepskyblue;
}

body {
  min-height: 100%;
  background-color: deepskyblue;
}

.nes-container {
  background-color: #fff;
}

.header-link {
  color: darkblue;
}

.header-title {
  color: white;
}